#macro(renderAnnotations $annotations)
#foreach($anno in $annotations)
@${anno.clazz}#if($anno.params && !$anno.params.isEmpty())(#foreach($entry in $!anno.params.entrySet())#if($entry.key!="")$entry.key=#end$entry.value#if($foreach.hasNext),#end#end)#end
#end
#end

package ${package};

## 类引入的包
#foreach($import in $imports)
import $import;
#end

## 类注解
#renderAnnotations($annotations)
public class ${className}#if($fatherClazz!="") extends ${fatherClazz}#end #if($implements && !$implements.isEmpty)implements #foreach($implement in $implements)$implement#if($foreach.hasNext),#end#end#end{

## 类成员属性
#foreach($field in $fields)
     #renderAnnotations($!field.annotations)
    private $!field.clazz $!field.name;

#end
#foreach($method in $methods)
    #if(${method.justString})
    $!method.methodBody
    #else
    #renderAnnotations($!method.annotations)
    public #if(${method.staticFlag})static #end$!method.returnRes ${method.methodName}(#foreach($param in ${method.methodParams})#renderAnnotations($param.annotations)$param.clazz $param.name#if($foreach.hasNext),#end#end){
        $!method.methodBody
    }
    #end
#end
}
