#macro(renderAnnotations $annotations)
#foreach($anno in $annotations)
@${anno.clazz}#if($anno.params && !$anno.params.isEmpty())(#foreach($entry in $!anno.params.entrySet())#if($entry.key!="")$entry.key=#end$entry.value#if($foreach.hasNext),#end#end)#end
#end
#end
package ${package};

## 类引入的包
#foreach($import in $imports)
import $import;
#end

## 接口注解
#renderAnnotations($annotations)
public interface ${className}#if($fatherClazz!="") extends ${fatherClazz}#end {

## 接口方法定义
#foreach($method in $methods)
    #renderAnnotations($!method.annotations)
    #if($method.isStatic)static #end#if($method.isDefault)default #end$!method.returnRes ${method.methodName}(#foreach($param in $method.methodParams)#renderAnnotations($param.annotations)$param.clazz $param.name#if($foreach.hasNext), #end#end)#if($method.isStatic || $method.isDefault) {
    $!method.methodBody}#else;
#end
#end
}
