// Find method
    ${entityClassName}Entity ${entityClassNameLower} = ${entityClassNameLower}Mapper.selectById(id);
    return BeanUtil.copyProperties(${entityClassNameLower}, ${entityClassNameVO}.class);