// Save method
    ${entityClassName}Entity ${entityClassNameLower} = BeanUtil.copyProperties(${entityClassNameLower}Req, ${entityClassName}Entity.class);
    ${entityClassNameLower}Mapper.insert(${entityClassNameLower});